<template >
    <div>
            <div class="fiveDice"  >
                    <button v-model="diceRoll" class="dice textHover" v-for="(dicecode, index) in diceRoll" v-html="cssDice[dicecode]"   @click="holdDice(dicecode)"></button>
                               
            </div>

            <div class="button">
                <button v-show="diceThrows < 3 " id="btn" class="btn wHover" @click="roleNumber();">Gooien</button>
                <button id="btnFill" class="btn wHover">Vul score in</button>
            </div>
            </div>
            
    </div> 
</template>

<script>
 
  export default {
    
    name: "Dice",

    data: () => {

          return {
          
              diceRoll: [],
              cssDice: {1: "&#x2680;", 2: "&#x2681;", 3: "&#x2682;", 4: "&#x2683;", 5: "&#x2684;", 6: "&#x2685;" },
              diceHold: [{value: null, locked: false,value: null, locked: false,value: null, locked: false,value: null, locked: false,value: null, locked: false}],
              gameStart: false,
              diceThrows: 0

             
          };

    },


    computed: {

          


    },

   methods:  {

        roleNumber: function() {

          
             //if function if they are in the holdDice then dont roll die. 
            this.diceThrows++; 
            this.gameStart  = true;
            this.diceRoll   = Array.from({length: 5 }, () => Math.floor(Math.random() * 6) + 1);
            console.log(this.diceThrows);
           



    },

        countNumber: function() {

                let rolled   = this.diceRoll;
                let counting = this.count;

                for (let number in counting) {
                    const countNumber = rolled.filter(val => val == number).length;
                    counting[number] = countNumber;
  
    }
    },

        holdDice: function(dicecode) {
              
              // console.log(this.event.indexOf(this.event));
                //this.diceHold
                console.log(this.diceHold);

    }
        
    }
   
    };
 
</script>
