<template>
        
        <div id="container">
            <header>
                <h1>Yathzee</h1>
            </header>
            <div class="fiveDice"  >
                    <button class="dice textHover" v-for="(roll, index) in diceRoll" v-html="cssDice[roll.value]"   @click="roll.locked = !roll.locked, $event.target.classList.toggle('active')" :key="index"></button>                
            </div>  
            
                <div class="button">
                <button v-show="diceThrows < 25 " id="btn" class="btn wHover" @click="roleNumber();":disabled="rollLimitReached()" :class="[{ 'forBidden': rollLimitReached()}]">Gooien</button>
                <button v-show="diceThrows > 0 " id="btnFill" class="btn wHover" @click="confirmScore();">Vul score in</button>
            </div>
        

          
            <div class="round">
                <p id="rounds"></p>
            </div>

            <div class="howTo">
                <p>Klik <span class="borderBtn">Gooien</span> om de dobbelstenen te gooien, klik op een dobbelsteen om de waarde vast te houden.</p>
                <p>Na drie worpen klik je op <span class="borderBtn">Vul score in</span> om de score in te vullen.</p>
                <p>Kies welke score je wifgfl vastleggen op het scoreblok.</p>
            </div>

            <div class="paper">
                <table :disabled="gameStart == false">
                    <tr>
                        <td class="noBorder"></td>
                    </tr>
                    <tr>
                        <th class="title noBorder" colspan="7">scoreblok</th>
                        <th class="title noBorder"><img class="posImg" src=""></th>
                    </tr>
                    <tr>
                        <td class="noBorder"></td>
                    </tr>
                    <tr>
                        <th class="h1 noBorder" colspan="2">deel 1</th>
                        <th class="h1 noBorder">hoe te scoren</th>
                        <th class="h2 noBorder">Spel 1</th>
                        <th class="h2 noBorder">Spel 2</th>
                        <th class="h2 noBorder">Spel 3</th>
                        <th class="h2 noBorder">Spel 4</th>
                        <th class="h2 noBorder">Spel 5</th>
                    </tr>
                    <tr>
                        <td class="noBorderRight">enen</td>
                        <td class="dicePreview noBorderLeft">&#x2680;</td>
                        <td class="howToScore">waarde van alle enen</td>
                        <td id="aces1" class="fillFont keepScore" :class="{selectScore: (lockedCells[0] === 1), confirmScore: (lockedCells[0] === 2)}" @click="addScoring(ones,1)" >{{ ones }}</td>
                        <td id="aces2" class="fillFont keepScore"></td>
                        <td id="aces3" class="fillFont keepScore"></td>
                        <td id="aces4" class="fillFont keepScore"></td>
                        <td id="aces5" class="fillFont keepScore"></td>
                    </tr>
                    <tr>
                        <td class="noBorderRight">tweeën</td>
                        <td class="dicePreview noBorderLeft">&#x2681;</td>
                        <td class="howToScore">waarde van alle tweeën</td>
                        <td id="twos1" class="fillFont keepScore" :class="{selectScore: (lockedCells[1] === 1), confirmScore: (lockedCells[1] === 2)}" @click="addScoring(twos,2)">{{ twos }} </td>
                        <td id="twos2" class="fillFont keepScore"></td>
                        <td id="twos3" class="fillFont keepScore"></td>
                        <td id="twos4" class="fillFont keepScore"></td>
                        <td id="twos5" class="fillFont keepScore"></td>
                    </tr>
                    <tr>
                        <td class="noBorderRight">drieën</td>
                        <td class="dicePreview noBorderLeft">&#x2682;</td>
                        <td class="howToScore">waarde van alle drieën</td>
                        <td id="threes1" class="fillFont keepScore" :class="{selectScore: (lockedCells[2] === 1), confirmScore: (lockedCells[2] === 2)}" @click="addScoring(threes,3)">{{ threes }} </td>
                        <td id="threes2" class="fillFont keepScore"></td>
                        <td id="threes3" class="fillFont keepScore"></td>
                        <td id="threes4" class="fillFont keepScore"></td>
                        <td id="threes5" class="fillFont keepScore"></td>
                    </tr>
                    <tr>
                        <td class="noBorderRight">vieren</td>
                        <td class="dicePreview noBorderLeft">&#x2683;</td>
                        <td class="howToScore">waarde van alle vieren</td>
                        <td id="fours1" class="fillFont keepScore"  :class="{selectScore: (lockedCells[3] === 1), confirmScore: (lockedCells[3] === 2)}" @click="addScoring(fours,4)">{{ fours }}</td>
                        <td id="fours2" class="fillFont keepScore"></td>
                        <td id="fours3" class="fillFont keepScore"></td>
                        <td id="fours4" class="fillFont keepScore"></td>
                        <td id="fours5" class="fillFont keepScore"></td>
                    </tr>
                    <tr>
                        <td class="noBorderRight">vijven</td>
                        <td class="dicePreview noBorderLeft">&#x2684;</td>
                        <td class="howToScore">waarde van alle vijven</td>
                        <td id="fives1" class="fillFont keepScore" :class="{selectScore: (lockedCells[4] === 1), confirmScore: (lockedCells[4] === 2)}" @click="addScoring(fives, 5)">{{ fives }} </td>
                        <td id="fives2" class="fillFont keepScore"></td>
                        <td id="fives3" class="fillFont keepScore"></td>
                        <td id="fives4" class="fillFont keepScore"></td>
                        <td id="fives5" class="fillFont keepScore"></td>
                    </tr>
                    <tr>
                        <td class="noBorderRight">zessen</td>
                        <td class="dicePreview noBorderLeft">&#x2685;</td>
                        <td class="howToScore">waarde van alle zessen</td>
                        <td id="sixes1" class="fillFont keepScore" :class="{selectScore: (lockedCells[5] === 1), confirmScore: (lockedCells[5] === 2)}" @click="addScoring(sixs, 6)">{{ sixs }} </td>
                        <td id="sixes2" class="fillFont keepScore"></td>
                        <td id="sixes3" class="fillFont keepScore"></td>
                        <td id="sixes4" class="fillFont keepScore"></td>
                        <td id="sixes5" class="fillFont keepScore"></td>
                    </tr>
                    <tr id="total">
                        <td class="uppercase" colspan="2">totaal</td>
                        <td class="arrow">&#10132;</td>
                        <td id="upperScore1" class="fillFont"></td>
                        <td id="upperScore2" class="fillFont"></td>
                        <td id="upperScore3" class="fillFont"></td>
                        <td id="upperScore4" class="fillFont"></td>
                        <td id="upperScore5" class="fillFont"></td>
                    </tr>
                    <tr id="bonus">
                        <td class="noBorderRight">bonus</td>
                        <td class="alt noBorderLeft">als totaal 63<br>of meer is</td>
                        <td class="howToScore">35 punten</td>
                        <td id="bonus1" class="fillFont"></td>
                        <td id="bonus2" class="fillFont"></td>
                        <td id="bonus3" class="fillFont"></td>
                        <td id="bonus4" class="fillFont"></td>
                        <td id="bonus5" class="fillFont"></td>
                    </tr>
                    <tr id="upperTotal">
                        <td class="uppercase noBorderRight">totaal</td>
                        <td class="alt uppercase noBorderLeft">van de<br>bovenste<br>helft</td>
                        <td class="arrow">&#10132;</td>
                        <td id="totalUpperScore1" class="fillFont">{{upperScore}}</td>
                        <td id="totalUpperScore2" class="fillFont"></td>
                        <td id="totalUpperScore3" class="fillFont"></td>
                        <td id="totalUpperScore4" class="fillFont"></td>
                        <td id="totalUpperScore5" class="fillFont"></td>
                    </tr>
                    <tr>
                        <th class="h1 noBorder" colspan="2">deel 2</th>
                    </tr>

                    <tr>
                        <td colspan="2">3 of a kind</td>
                        <td class="howToScore">totaal van alle dobbelstenen</td>
                        <td id="threeOfKind1" class="fillFont keepScore" :class="{selectScore: (lockedCells[6] === 1), confirmScore: (lockedCells[6] === 2)}" @click="addScoring(threeofakind, 7)">{{ threeofakind }}</td>
                        <td id="threeOfKind2" class="fillFont keepScore"></td>
                        <td id="threeOfKind3" class="fillFont keepScore"></td>
                        <td id="threeOfKind4" class="fillFont keepScore"></td>
                        <td id="threeOfKind5" class="fillFont keepScore"></td>
                    </tr>
                    <tr>
                        <td colspan="2">4 of a kind</td>
                        <td class="howToScore">totaal van alle dobbelstenen</td>
                        <td id="fourOfKind1" class="fillFont keepScore" :class="{selectScore: (lockedCells[7] === 1), confirmScore: (lockedCells[7] === 2)}" @click="addScoring(fourofakind, 8)">{{ fourofakind }}</td>
                        <td id="fourOfKind2" class="fillFont keepScore"></td>
                        <td id="fourOfKind3" class="fillFont keepScore"></td>
                        <td id="fourOfKind4" class="fillFont keepScore"></td>
                        <td id="fourOfKind5" class="fillFont keepScore"></td>
                    </tr>
                    <tr>
                        <td colspan="2">full house</td>
                        <td class="howToScore">25 punten</td>
                        <td id="fullHouse1" class="fillFont keepScore" :class="{selectScore: (lockedCells[8] === 1), confirmScore: (lockedCells[8] === 2)}" @click="addScoring(fullhouse, 9)">{{ fullhouse }}</td>
                        <td id="fullHouse2" class="fillFont keepScore"></td>
                        <td id="fullHouse3" class="fillFont keepScore"></td>
                        <td id="fullHouse4" class="fillFont keepScore"></td>
                        <td id="fullHouse5" class="fillFont keepScore"></td>
                    </tr>
                    <tr>
                        <td class="noBorderRight">kleine straat</td>
                        <td class="alt noBorderLeft">4<br>opeenvolgende nummers</td>
                        <td class="howToScore">30 punten</td>
                        <td id="smStraight1" class="fillFont keepScore" :class="{selectScore: (lockedCells[9] === 1), confirmScore: (lockedCells[9] === 2)}" @click="addScoring(smallstreet, 10)">{{ smallstreet }}</td>
                        <td id="smStraight2" class="fillFont keepScore"></td>
                        <td id="smStraight3" class="fillFont keepScore"></td>
                        <td id="smStraight4" class="fillFont keepScore"></td>
                        <td id="smStraight5" class="fillFont keepScore"></td>
                    </tr>
                    <tr>
                        <td class="noBorderRight">grote straat</td>
                        <td class="alt noBorderLeft">5<br>opeenvolgende nummers</td>
                        <td class="howToScore">40 punten</td>
                        <td id="lgStraight1" class="fillFont keepScore" :class="{selectScore: (lockedCells[10] === 1), confirmScore: (lockedCells[10] === 2)}" @click="addScoring(bigstreet, 11)">{{ bigstreet }}</td>
                        <td id="lgStraight2" class="fillFont keepScore"></td>
                        <td id="lgStraight3" class="fillFont keepScore"></td>
                        <td id="lgStraight4" class="fillFont keepScore"></td>
                        <td id="lgStraight5" class="fillFont keepScore"></td>
                    </tr>
                    <tr>
                        <td class="noBorderRight">yahtzee</td>
                        <td class="alt noBorderLeft">5<br>dezelfde<br>nummers</td>
                        <td class="howToScore">50 punten</td>
                        <td id="yahtzee1" class="fillFont keepScore" :class="{selectScore: (lockedCells[11] === 1), confirmScore: (lockedCells[11] === 2)}" @click="addScoring(yahtzee, 12)">{{ yahtzee }}</td>
                        <td id="yahtzee2" class="fillFont keepScore"></td>
                        <td id="yahtzee3" class="fillFont keepScore"></td>
                        <td id="yahtzee4" class="fillFont keepScore"></td>
                        <td id="yahtzee5" class="fillFont keepScore"></td>
                    </tr>
                    <tr id="chance">
                        <td colspan="2">chance</td>
                        <td class="howToScore">totaal van alle dobbelstenen</td>
                        <td id="chance1" class="fillFont keepScore" :class="{selectScore: (lockedCells[12] === 1), confirmScore: (lockedCells[12] === 2)}" @click="addScoring(chance, 13)">{{ chance }}</td>
                        <td id="chance2" class="fillFont keepScore"></td>
                        <td id="chance3" class="fillFont keepScore"></td>
                        <td id="chance4" class="fillFont keepScore"></td>
                        <td id="chance5" class="fillFont keepScore"></td>
                    </tr>
                    <tr id="lowerTotal">
                        <td class="uppercase noBorderRight">totaal</td>
                        <td class="alt uppercase noBorderLeft">van de<br>onderste<br>helft</td>
                        <td class="arrow">&#10132;</td>
                        <td id="lowerScore1" class="fillFont">{{lowerScore}}</td>
                        <td id="lowerScore2" class="fillFont"></td>
                        <td id="lowerScore3" class="fillFont"></td>
                        <td id="lowerScore4" class="fillFont"></td>
                        <td id="lowerScore5" class="fillFont"></td>
                    </tr>
                    <tr id="lowUpperTotal">
                        <td class="uppercase noBorderRight">totaal</td>
                        <td class="alt uppercase noBorderLeft">van de<br>bovenste<br>helft</td>
                        <td class="arrow">&#10132;</td>
                        <td id="upperScoreLower1" class="fillFont">{{upperScore}}</td>
                        <td id="upperScoreLower2" class="fillFont"></td>
                        <td id="upperScoreLower3" class="fillFont"></td>
                        <td id="upperScoreLower4" class="fillFont"></td>
                        <td id="upperScoreLower5" class="fillFont"></td>
                    </tr>
                    <tr id="grandTotal">
                        <td class="bold" colspan="2">totaal generaal</td>
                        <td class="arrow">&#10132;</td>
                        <td id="grandTotal1" class="fillFont">{{totalAll}}</td>
                        <td id="grandTotal2" class="fillFont"></td>
                        <td id="grandTotal3" class="fillFont"></td>
                        <td id="grandTotal4" class="fillFont"></td>
                        <td id="grandTotal5" class="fillFont"></td>
                    </tr>
                </table>
            </div>
    </div>
     
</template>
<script>

//import Vue from 'vue';

 export default {
    
    name: "Game",

    data: () => {

          return {
          
            gameScore:      [],
            gameEnd:        false,
            cssDice:        {1: "&#x2680;", 2: "&#x2681;", 3: "&#x2682;", 4: "&#x2683;", 5: "&#x2684;", 6: "&#x2685;" },
            diceRoll:       [{value: null, locked: false,},{value: null, locked: false},{value: null, locked: false},{value: null, locked: false},{value: null, locked: false}],
            gameStart:      false,
            diceThrows:     0,
            selectScore:    false,
            countDice:      {1: 0, 2: 0, 3: 0, 4: 0, 5: 0, 6: 0},
            yahtzeeScored:  false,
            yahtzeeTest:    [{value: 2, locked: false,},{value: 2, locked: false},{value: 2, locked: false},{value: 2, locked: false},{value: 2, locked: false}],
            lockedCells:    [0,0,0,0,0,0,0,0,0,0,0,0,0],
            lockedValues:   [0,0,0,0,0,0,0,0,0,0,0,0,0]
            //LockedCells: 0=Unselected,1=Selected,2=Confirmed
          };

    },


    computed: {

            //Dynamic total scores (naming beter doen ? )

            upperScore:

                function() {

                  return this.upsideScores.reduce((a, b) => a + b, 0);

                },

            lowerScore:

                function() {

                    return this.lowsideScores.reduce((a, b) => a + b, 0);
                },

            totalAll: 

                function() {
                  return this.upsideScores.reduce((a, b) => a + b, 0);
                            
                },

            //Dynamic computed scores     

            ones: 
                
                function() {

                        if(this.lockedValues[0] > 0) {
                            return this.lockedValues[0];
                        } else {
                        
                        let one = this.diceRoll.filter(x => x.value==1).length;
                        return one * 1;
                        }
                     
            },

            twos: 

                function() {

                          if(this.lockedValues[1] > 0) {
                            return this.lockedValues[1];
                        } else {

                        let two = this.diceRoll.filter(x => x.value==2).length;
                         return two * 2;
                        }
            },

            threes:

                function() {

                          if(this.lockedValues[2] > 0) {
                            return this.lockedValues[2];
                        } else {

                        let three = this.diceRoll.filter(x => x.value==3).length;
                        return three * 3;
                        }
            },
            
            fours:

                function() {

                        
                          if(this.lockedValues[3] > 0) {
                            return this.lockedValues[3];
                        } else {

                        let four = this.diceRoll.filter(x => x.value==4).length;
                        return four * 4;
                        }
            },

            fives:

                function() {

                        if(this.lockedValues[4] > 0) {
                            return this.lockedValues[4];
                        } else {
                    
                      

                        let five = this.diceRoll.filter(x => x.value==5).length;
                        return five * 5;
                        }
            },

            sixs:

                function() {

                        if(this.lockedValues[5] > 0) {
                            return this.lockedValues[5];
                        } else {

                        let six = this.diceRoll.filter(x => x.value==6).length;
                        return six * 6;
                        }
            },

            twoofakind:

            function() {

                        for(let i=1; i<7; i++) {                                                
                    
                        let result = this.diceRoll.filter(die => die.value==i).length;        
                        if(result === 2) {                                              
                            
                           // console.log('Two',i);
                            return this.diceRoll.reduce((accumulator, current) => accumulator + current.value, 0);

                        }

                    }

            },

            threeofakind:
            //Voor de fullhouse gedaan.

                

                function() {
                      for(let i=1; i<7; i++) {                                                 //Omdat hij naar de dice nummers moet kijken niet de length van de array
                        
                            let result = this.diceRoll.filter(die => die.value==i).length;    //.length dardoor kijkt die hoe vaak dat moet. 
                            if(result === 3) {                                                //als die 3 matches heeft. Omdat result naar de filter functie verwijst. WOrd ===3 , 3 matches. Anders zou het naar nr kijken?
                                
                                //console.log('Three',i);
                                return this.diceRoll.reduce((accumulator, current) => accumulator + current.value, 0);

                          }

                      }

                },

            fourofakind:

                function() {

                         for(let i=1; i<7; i++) {                                                
                        
                            let result = this.diceRoll.filter(die => die.value==i).length;        
                            if(result === 4) {                                              
                                
                             //   console.log('Four',i);
                                return this.diceRoll.reduce((accumulator, current) => accumulator + current.value, 0);

                          }

                      }
    
                },

            fullhouse:

                function() { 

                            if(this.threeofakind && this.twoofakind) {

                            return 25;
                            
                        }
           
                },

            smallstreet:
 
                function() {

                    // let a = [1,2,3,4];
                    // let b = [3,4,5,6];
                    // let c = [2,3,4,5];
                    
                    // let banaan = Object.fromEntries(Object.entries(this.diceRoll).filter(([key]) => key.includes('value'))); 
                    // console.log(this.diceRoll);
                    // const arr1 = this.diceRoll.sort().concat(); //moet ik het hier anders doen ?  SORT CONCAT ff omdraaien
                    // const arr2 = a.concat().sort();
                    // const arr3 = b.concat().sort();
                    // const arr4 = c.concat().sort(); 
                    // if (arr1 == arr2 || arr1 == arr2 || arr1 == arr3 || arr1 == arr4) {

                    // } else {

                    // }

                    let x = (/1234|2345|3456/.test(this.diceRoll)); //hier sort op doen en join, join maakt er een string vann //.test looks for a match

                    return x ? 30 : 0;
                    

                    //console.log(this.diceRoll.flat());


                },

                dicesToString:
                 function() {
                    return this.dicesToArray().join('')
                    },

            

            bigstreet:

                function() {
                
                },

            yahtzee:

                function() {
            
                    const allEqual = arr => arr.every(val => val.value === arr[0].value);
                        //AllEQual is true in het begin omdat ze allemaal equal zijn , leeg. Woeps. Kan ik hiden met Vue of anders coden. Of ik hide het de eerste x, simple
                    if (allEqual(this.diceRoll) === true) {
                        return 50;
                    }
                
                },

            chance:

                function() {
                
                },

            upsideScores:

                function() {
                    
                    return [
                        this.ones,
                        this.twos,
                        this.threes,
                        this.fours,
                        this.fives,
                        this.sixs
                    ]
                },

                
            lowsideScores:

                function() {
                    
                    return [
                        this.threeofakind,
                        this.fourofakind,
                        this.fullhouse,
                        this.smallstreet,
                        this.bigstreet,
                        this.yahtzee,
                        this.chance
                    ]
                }

    },
    //METHODS//  LockedCells: 0=Unselected,1=Selected,2=Confirmed
    methods:  {

            addScoring: function(value,position = 1) {
               let code = this.lockedCells[position-1];

                for(let i = 0; i < this.lockedCells.length; i++ ){

                    if(this.lockedCells[i] === 1){ 
                        this.lockedCells[i] = 0; 
                    }
                }

                if(this.lockedCells[position-1] != 2){
    
                    this.$set(this.lockedCells, position-1, code = 1); //Dit -1 nog 1x uutlg (check mn audio note) //heb ik aangepast naar =1 inplaats van +1
                    //console.log(this.lockedCells);
                } 
                //Elke x als een score is ingevuld is een ronde geweest. Boolean dus na 13x is het spel voorbij.
            
            },
            roleNumber: function() {
                this.diceThrows++; 
                this.gameStart = true;

                for(let i=0; i<5; i++) {

                    if ( this.diceRoll[i]['locked'] == false ) {

                        let nr = Math.floor(Math.random() * 6) + 1;
                        this.diceRoll[i]['value'] = nr;
                    }

                }
                console.log(this.diceRoll);
                console.log(this.diceRoll.flat(1));

            },
            confirmScore(value,position = 1) { //Note2Self - naam ff veranderen naar confirmScore en de andere selectScore functie ? 
                this.diceThrows = 0; //Zodat calcscore knop verdwijnt
                for(let i = 0; i < this.lockedCells.length; i++ ) {
                        if(this.lockedCells[i] === 1) {

                            this.lockedCells[i] = 2;
                            this.lockedValues[i] = this.allScores[i]; //Zelfde positie op deze manier.
                            //console.log(this.lockedValues);
                }
                }
                   // console.log(this.lockedCells);
                      
        },
            countNumber: function() { //Miscchien deleten
                let rolled   = this.diceRoll;
                let counting = this.countDice;

                for (let number in counting) {
                    const countNumber   = rolled.filter(die => die.value == number).length;
                    counting[number]    = countNumber;
    
        }
        },

            rollLimitReached: function () {
                return this.diceThrows >= 3
        },

        },   
             
    };
</script>
